* {
  font-family: 'Lexend Deca', sans-serif;
}

body, html {
  height: 100%;
  background-color: black;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.nebula-logo {
  display: inline-block;
  height: 60px;
  margin: 10px;
  float: left;
}

@media (max-width: 500px) { .nebula-logo {height: 50px;} }

.links {
  display: inline-block;
  float:right;
}

.links a:hover {
  opacity: 0.5;
  transition: 0.2s ease;
}

.links a, .links a:hover { text-decoration: none; }

@media (max-width: 400px) { .social {height: 40px;} }

#home-text h1{
  color: white;
  font-size: 9vw;
}

#home-text {
  display: inline-block;
  text-align: left;
  width: 90%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#Home {
  background-color: black;
  display: block;
}

.scroll-element {
  scroll-snap-align: start;

  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  color: white;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.description p {font-size: 6vw;}
.big-text {text-align: center;}
.big-text p {font-size: 5vw;}
.mail {height: 8vw;}

.final-page h6 {
  color: white;
  display: inline-block;
  position: absolute;
  bottom: 0;
}
