* {
  font-family: 'Lexend Deca', sans-serif;
  background-color: black;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.nebula-logo {
  height: 60px;
  width: auto;
  margin: 10px;
  float: left;
}

@media (max-width: 500px) {
  .nebula-logo {
    height: 50px;
  }
}

.links {
  display: inline-block;
  float:right;
  padding: 0;
  margin: 0 auto;
}

.links a:hover {
  opacity: 0.5;
  transition: 0.2s ease;
  text-decoration: none;
}

.links a { text-decoration: none; }

.social {
  height: 50px;
  width: auto;
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .social {height: 40px;}
}

#home-text h1{
  color: white;
  font-size: 100px;
}

#home-text h2{
  color: #ff5000;
  font-size: 100px;
}

#home-text {
  padding: 100px 60px;
  display: inline-block;
  width: 100%;
  text-align: left;
}

.page-div {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#Home {
  vertical-align: middle;
  text-align: center;
}

@media (max-width: 800px) {
  #home-text h1, #home-text h2 {font-size: 12vw;}
}
